# Backup files
*.bak

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
.venv
venv/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Kubernetes CLI tool
kubectl.exe
kubectl
